include mixins.pug
doctype html
html(lang='ru')
  +dev_head('QBF главная')

  body
    .wrapper
      .base
        +header()

        div.main_content
          .slider_section
            .section_inner.clearfix
              .main_slider
                .mainSlider
                  +slide('i/manager_4.png', 'В компании умеют находить решения в самых сложных экономических условиях и защищать интересы вашей семьи, используя максимум инструментов', 'Пахомов Владимир Сергеевич', 'директор филиальной сети')
                  +slide('i/manager.png', 'QBF приумножает капитал своих клиентов — это неизменно, из года в год, несмотря на все кризисы и волнения на рынках.', 'Голубев Алексей Сергеевич', 'руководитель клиентского офиса Санкт-Петебург')
                  +slide('i/manager_3.png', 'Европейский финансовый сервис во всем своем многообразии — это, прежде всего, проверенный временем и тысячами клиентов подход.', 'Геворгян Геворг Шекспирович', 'руководитель отдела инвестиционных услуг')
                  +slide('i/manager_2.png', 'Вопрос денег — это вопрос личный, приватный, поэтому защита инвестиций для QBF означает очень деликатный процесс, сопряженный с индивидуальным подходом, предельной честностью и заслуженным доверием.', 'Рыков Дмитрий Иванович', 'руководитель филиала Тюмень')
                  +slide('i/manager_1 copy.png', 'Сформированная за годы работы команда экспертов взаимодействует не с обезличенным вкладчиком, а с живым человеком', 'Исхаков Евгений Валерьевич', 'руководитель филиала Екатеринбург')

                .sliderDots.slider_dots
              .sliderControls.slider_controls
                .slide_prev.slide_control
                .slide_next.slide_control

              .get_plan_form
                +slider_form()

          .strategy_section
            .section_inner.clearfix
              h2.section_title Стратегии, проверенные временем

              .tabs
                .tab_control.tabControl.selected.fadeMeUp(data-default='0,3,8,5,9')
                  img(src='i/strategy_1.jpg')
                  span.strategy_name Средневзвешенная
                .tab_control.tabControl.fadeMeUp(data-default='1,4,7,9')
                  img(src='i/strategy_2.jpg')
                  span.strategy_name Консервативная

                .tab_control.tabControl.fadeMeUp(data-default='2,6,9')
                  img(src='i/strategy_3.jpg')
                  span.strategy_name Высокодоходная
                .tab_unit.selected.fadeMeUp
                  .tab_content
                    .chart_holder
                      #main_chart.chart_block

                    .area_chart_holder
                      #area_chart.chart_block

                    .chart_footer
                      .chart_controls
                        ul.chart_toggle_list.chartToggleList
                          li.line_0
                            label.check_v1.chartLabel
                              input.inp_hidden.chartToggle(type='checkbox' data-chart='.st_0' checked)
                              span.check_text: span Средневзвешенная стратегия QBF
                            label.check_v1.chartLabel(style='display:none;')
                              input.inp_hidden.chartToggle(type='checkbox' data-chart='.st_1' checked)
                              span.check_text: span Консервативная стратегия QBF
                            label.check_v1.chartLabel(style='display:none;')
                              input.inp_hidden.chartToggle(type='checkbox' data-chart='.st_2' checked)
                              span.check_text: span Высокодоходная стратегия QBF

          // average
          .strategy_info.strategyInfo
            .features_section
              .section_inner
                ul.features_list.fadeMeUp
                  li
                    .feature_item
                      .feature_img
                        img(src='svg/amount.svg')
                      p Сумма<br>инвестирования
                      .feature_tip
                        span.fz_20 от
                        span.fz_50  1 800
                        span.fz_20  тыс. Р

                  li
                    .feature_item
                      .feature_img
                        img(src='svg/term.svg')
                      p Срок<br>инвестирования
                      .feature_tip
                        span.fz_50  12
                        span.fz_20  мес

                  li
                    .feature_item
                      .feature_img
                        img(src='svg/income.svg')
                      p Целевая<br>доходность
                      .feature_tip
                        span.fz_50  16-20
                        span.fz_20  %

                  li
                    .feature_item
                      .feature_img
                        img(src='svg/liquidity.svg')
                      p Ликвидность
                      .feature_tip
                        span.fz_50  20
                        span.fz_20  дней

                  li
                    .feature_item
                      .feature_img
                        img(src='svg/remuneration.svg')
                      p Вознаграждение<br>за успех
                      .feature_tip
                        span.fz_50  30
                        span.fz_20  %

            .section_inner
              .stock_block
                .stock_caption.fadeMeUp Акции американских эмитентов — основной инструмент средневзвешенного портфеля.

                .stock_box.fadeMeUp
                  p В рамках портфеля реализуются стратегии с оптимальным соотношением доходности и риска. В результате рост стоимости портфеля должен опередить динамику индекса S&P500.

                .stock_box.fadeMeUp
                  p Структура портфеля позволяет сохранять высокий уровень надежности и ликвидности инвестиций практически при любой рыночной конъюнктуре.

              .drivers_block
                .drivers_caption.fadeMeUp Драйверы роста

                ul.drivers_list
                  li.fadeMeUp: .driver_img
                    img(src='i/driver_1.png')
                    .driver_popup
                      h3 Apple Inc. – long
                      p Apple Inc. – американский производитель персональных и планшетных компьютеров, аудиоплееров, телефонов и программного обеспечения. Основным продуктом компании является линейка смартфонов iPhone, продажи которых в 2016 году достигли 207 млн. шт. В начале сентября компания Apple Inc. проведет презентацию нового iPhone, также инвесторы ждут от корпорации презентации и других технологических новинок.
                  li.fadeMeUp: .driver_img
                    img(src='i/driver_2.png')
                    .driver_popup
                      h3 General Motors Company – long
                      p General Motors Company – один из старейших автоконцернов в США, владеющий такими автомобильными брендами как: Buick, Cadillac, Chevrolet, GMC, Holden, Opel и Vauxhall. Финансовые результаты компании в 2016 году и I квартале 2017 года существенно улучшились благодаря подъему продаж в Североамериканском регионе из-за снижения присутствия на рынке автомобилей Volkswagen. Одновременно с этим, компания GM ведет разработку собственного электрокара, а электромобили стремительно набирают популярность в США. В дополнение к данным факторам, котировки корпорации поддержит масштабная программа выкупа акций на общую сумму $14 млрд.
                  li.fadeMeUp: .driver_img
                    img(src='i/driver_3.png')
                    .driver_popup
                      h3 The Walt Disney Company – long
                      p The Walt Disney Corporation – американская компания, которая является одним из мировых лидеров индустрии развлечений. Бизнес корпорации включает кино- и анимационную студию, тематические парки, аквапарки и телерадиовещание. Ключевыми драйверами для покупки акций компании выступают расширение индустрии развлечений и масс-меда, успехи фильмов мировых франшиз, а также результаты от открытия нового тематического парка развлечений в Шанхае.
                  li.fadeMeUp: .driver_img
                    img(src='i/driver_4.png')
                    .driver_popup
                      h3 Constellation Brands Inc. – long
                      p Constellation Brands Inc. – американский производитель пивных напитков и вина, владеющий одними из самых популярных в США брендов пива: Corona и Modelo. Компания активно наращивает долю рынка в ключевых сегментах. Способствует этому агрессивная продуктовая политика: менеджмент активно покупает местных производителей крафтового пива, расширяя продуктовую линейку. Помимо улучшения показателей прибыли, корпорация объявила о начале перехода с этапа рыночной экспансии на увеличение рентабельности бизнеса. В совокупности данные факторы делают бумаги корпорации привлекательными для покупки.
                  li.fadeMeUp: .driver_img
                    img(src='i/driver_5.png')
                    .driver_popup
                      h3 McDonald’s Corp. – short
                      p McDonald`s Inc. – это одна из крупнейших международных сетей быстрого питания, которая имеет рестораны в более чем 120 странах. Из 36,5 тыс. ресторанов более 30 тыс. работают по франшизе. Мы ожидаем, что пересмотр торговых соглашений внутри ЕС может спровоцировать увеличение издержек компании и сокращение рентабельности бизнеса, к тому же в Европе и США растет популярность здорового питания, в связи с чем сеть McDonald`s будет снижать темпы роста.
                  li.fadeMeUp: .driver_img
                    img(src='i/driver_6.png')
                    .driver_popup
                      h3 Tableau Software, Inc. – short
                      p Tableau Software Inc. занимается разработкой программного обеспечения для бизнес- аналитики с 2003 года для всех основных современных платформ, от мобильного телефона до персонального компьютера. Темпы роста выручки компании снизились с 70% г/г в 2014 до 20% г/г в 2016 году после прохождения активного этапа подъема популярности сервиса. По нашим прогнозам, темпы роста выручки корпорации продолжат снижаться в 2017 году на фоне выхода на рынок Big Data компании Amazon и улучшения аналогичных сервисов у конкурентов IBM, Microsoft, Oralce.
                  li.fadeMeUp: .driver_img
                    img(src='i/driver_7.png')
                    .driver_popup
                      h3 Alphabet Inc. – long
                      p Alphabet Inc. – американский холдинг, которому принадлежит поисковая система Google, видеохостинг YouTube, операционная система для смартфонов Android и др. Корпорация была образована в октябре 2015 года путем реорганизации компании Google Inc. Инвестиционная привлекательность бумаг выросла на фоне ожидаемого выхода сервиса YouTube в прибыль. Повышение доходов планируется за счет запуска в апреле платной стриминговой платформы YouTubeTV, уникальность которой заключается в возможности просмотра платных кабельных каналов для ТВ: ABC, CBS, NBC и Fox, ранее требовавших отдельных подписок.

                p.fadeMeUp Идеи актуальны по состоянию на I полугодие 2017 года.


          // konservative
          .strategy_info.strategyInfo
            .features_section
              .section_inner
                ul.features_list.fadeMeUp
                  li
                    .feature_item
                      .feature_img
                        img(src='svg/amount.svg')
                      p Сумма<br>инвестирования
                      .feature_tip
                        span.fz_20 от
                        span.fz_50  600
                        span.fz_20  тыс руб<br>(мин. 1 лот)

                  li
                    .feature_item
                      .feature_img
                        img(src='svg/term.svg')
                      p Срок<br>инвестирования
                      .feature_tip
                        span.fz_20 от
                        span.fz_50  12
                        span.fz_20  мес

                  li
                    .feature_item
                      .feature_img
                        img(src='svg/income.svg')
                      p Целевая<br>доходность
                      .feature_tip
                        span.fz_50  7-8%
                        span.fz_20  %

                  li
                    .feature_item
                      .feature_img
                        img(src='svg/liquidity.svg')
                      p Ликвидность
                      .feature_tip
                        span.fz_50  20
                        span.fz_20  дней

                  li
                    .feature_item
                      .feature_img
                        img(src='svg/remuneration.svg')
                      p Вознаграждение<br>за успех
                      .feature_tip
                        span.fz_50  10
                        span.fz_20  % за успех свыше 5%;
                        span.fz_50  1
                        span.fz_20  % за управление

            .section_inner
              .stock_block
                .stock_caption.fadeMeUp Консервативная стратегия - аналог банковского депозита.

                .stock_box.fadeMeUp
                  p Консервативная стратегия является аналогом банковского депозита, однако приносит доход в 2-4 раза больше при сопоставимом уровне риска. Основу стратегии составляют еврооблигации крупнейших высоконадежных российских эмитентов и облигации первоклассных американских эмитентов.

                .stock_box.fadeMeUp
                  p Данная стратегия позволяет получать стабильный доход от вложения в надежные облигации, имеющие низкий потенциал снижения от негативных факторов конъюнктуры рынка. Инвестор получает как фиксированную доходность в виде купона, так и прибыль на разнице между ценой покупки облигации и ценой продажи.

          // high
          .strategy_info.strategyInfo
            .features_section
              .section_inner
                ul.features_list.fadeMeUp
                  li
                    .feature_item
                      .feature_img
                        img(src='svg/amount.svg')
                      p Сумма<br>инвестирования
                      .feature_tip
                        span.fz_20 от
                        span.fz_50  1 800
                        span.fz_20  тыс руб

                  li
                    .feature_item
                      .feature_img
                        img(src='svg/term.svg')
                      p Срок<br>инвестирования
                      .feature_tip
                        span.fz_50  12
                        span.fz_20  мес

                  li
                    .feature_item
                      .feature_img
                        img(src='svg/income.svg')
                      p Целевая<br>доходность
                      .feature_tip
                        span.fz_50  20-30
                        span.fz_20  %

                  li
                    .feature_item
                      .feature_img
                        img(src='svg/liquidity.svg')
                      p Ликвидность
                      .feature_tip
                        span.fz_50  20
                        span.fz_20  дней

                  li
                    .feature_item
                      .feature_img
                        img(src='svg/remuneration.svg')
                      p Вознаграждение<br>за успех
                      .feature_tip
                        span.fz_50  30
                        span.fz_20  % за успех

            .section_inner
              .stock_block
                .stock_caption.fadeMeUp Алгоритмическая торговля и диверсификация - залог успеха высокодоходной стратегии.

                .stock_box.fadeMeUp
                  p Высокодоходная стратегия позволяет инвестору получить существенную прибыль при принятии на себя повышенного риска. В эпоху цифровых технологий большая часть торгов на американских биржах проводится роботами, поскольку они могут уловить рыночные колебания, основанные на алгоритме торговли и принести существенную прибыль инвестору.

                .stock_box.fadeMeUp
                  p Высокодоходная стратегия предполагает диверсификацию: низкорискованные нейтральные к рынку арбитраж и парный трейдинг обеспечивает защиту портфеля, а статистические стратегии и скальпинг приносят высокий доход инвестору.

          .section_inner
            +callback_holder(true)

            .news_holder
              ul.news_list
                li.fadeMeUp
                  .news_unit
                    h3.news_title: a(href='article.html') Рынки сегодня
                    h4.news_review: a(href='article.html') Российская отрасль генерации электроэнергии

                    a.news_img(href='article.html')
                      img(src='i/news_1.jpg')
                      time.news_date(datetime="2017-06-10") 06.10.2017

                    p В четверг, 5 октября, ключевые американские фондовые индексы завершили торговую сессию в зеленой зоне. Инвесторы отыгрывали каскад данных макроэкономической статистики по США, а также финансовые результаты компании Constellation Brands

                li.fadeMeUp
                  .news_unit
                    h3.news_title: a(href='article.html') Обзоры
                    h4.news_review: a(href='article.html') Япония и США – иена и доллар

                    a.news_img(href='article.html')
                      img(src='i/news_2.jpg')
                      time.news_date(datetime="2017-06-10") 06.10.2017

                    p В 1960 году Япония и США подписали «Договор о взаимном сотрудничестве и гарантии безопасности», с которого, по сути, начался длительный период весьма тесных отношении между странами не только в военных вопросах, но и в вопросах экономического развития

            .mission_holder
              .mission_block
                h3.mission_title.fadeMeUp Доверьтесь многолетнему опыту работы команды наших профессионалов.
                p.fadeMeUp Компания не собирается останавливаться на достигнутом — нас ждут новые рынки, новые возможности и сердца новых клиентов.

                p.fadeMeUp Мы принимаем на себя разумные риски и дает возможность бизнесу любого масштаба расти и развиваться.

              .mission_image
                .mission_image_w.fadeMeUp
                  img(src='i/plane.jpg')

            .benefits_holder
              ul.benefits_list
                li
                  .benefit_item.fadeMeUp
                    .benefit_img
                      img(src='svg/service.svg')
                    h4.benefits_caption.fadeMeUp Сервис
                    p У каждого инвестора компании целый штат специалистов, который решает задачу индивидуально и эффективно.

                li
                  .benefit_item.fadeMeUp
                    .benefit_img
                      img(src='svg/analysts.svg')
                    h4.benefits_caption.fadeMeUp Аналитики
                    p Специалисты аналитического отдела заслужили доверие не только клиентов, но и профессионалов в области. На рынке к нам прислушиваются и ценят мнение.

                li
                  .benefit_item.fadeMeUp
                    .benefit_img
                      img(src='svg/honesty.svg')
                    h4.benefits_caption.fadeMeUp Честность
                    p Мы предлагаем клиентам, партнерам и инвесторам прозрачные условия сотрудничества. Совместная работа означает доверие.

                li
                  .benefit_item.fadeMeUp
                    .benefit_img
                      img(src='svg/incomes.svg')
                    h4.benefits_caption.fadeMeUp Доходность
                    p Уже почти десятилетие инвесторы компании получают доход, за всю историю не было ни одного убыточного года.

          .recognition_section: .recognition_holder
            .recognition_block
              h3.recognition_title.fadeMeUp Профессиональное признание и лицензии

              ul.recognition_list
                li.fadeMeUp: .recognition_item
                  .recognition_img
                    img(src='i/confession_1.png')
                  p Лучший юридический департамент 2016
                li.fadeMeUp: .recognition_item
                  .recognition_img
                    img(src='i/confession_2.png')
                  p Лучший инвестиционный консультант 2016
                li.fadeMeUp: .recognition_item
                  .recognition_img
                    img(src='i/confession_2.png')
                  p Лучшая инвестиционная компания 2014–2016
                li.fadeMeUp: .recognition_item
                  .recognition_img
                    img(src='i/confession_2.png')
                  p QBFAsset Management «Старт года»
                li.fadeMeUp: .recognition_item
                  .recognition_img
                    img(src='i/confession_3.png')
                  p HR рейтинг привлекательности работодателя — A.HR, 2015
                li.fadeMeUp: .recognition_item
                  .recognition_img
                    img(src='i/confession_4.png')
                  p HR рейтинг привлекательности работодателя — A.HR, 2014
                li.fadeMeUp: .recognition_item
                  .recognition_img
                    img(src='i/confession_4.png')
                  p Лауреат Финансовая элита России 2017

              ul.diplomas_list.diplomaList
                +loop_while(1)
                  li
                    .diploma_img.fadeMeUp: a.diploma_link.diplomaLink(href='i/lic_1.jpg' data-fancybox="gallery")
                      img(src='i/diploma.jpg')
                  li
                    .diploma_img.fadeMeUp: a.diploma_link.diplomaLink(href='i/lic_2.jpg' data-fancybox="gallery")
                      img(src='i/diploma.jpg')
                  li
                    .diploma_img.fadeMeUp: a.diploma_link.diplomaLink(href='i/lic_3.jpg' data-fancybox="gallery")
                      img(src='i/diploma.jpg')

            .charity_block
              h3.recognition_title.fadeMeUp Благотворительность

              p.fadeMeUp Благотворительная инициатива QBF направлена на привлечение средств инвесторов, заинтересованных в развитии своего региона.

              ul.charity_list
                li.fadeMeUp
                  .charity_item
                    .charity_img
                      img(src='i/charity_1.png')
                    .charity_caption Верю в чудо
                    p Калининград
                    p
                      a.charity_link(target='_blank' href='http://www.deti39.com') www.deti39.com
                li.fadeMeUp
                  .charity_item
                    .charity_img
                      img(src='i/charity_2.png')
                    .charity_caption Свои дети
                    p Екатеринбург
                    p
                      a.charity_link(target='_blank' href='http://www.svoi-deti.ru') www.svoi-deti.ru
                li.fadeMeUp
                  .charity_item
                    .charity_img
                      img(src='i/charity_3.png')
                    .charity_caption Сотвори из жизни шедевр
                    p Тюмень
                    p
                      a.charity_link(target='_blank' href='http://fondshedevr.ru') fondshedevr.ru
                li.fadeMeUp
                  .charity_item
                    .charity_img
                      img(src='i/charity_4.png')
                    .charity_caption Острова
                    p Санкт-Петербург
                    p
                      a.charity_link(target='_blank' href='http://www.ostrovaru.com') www.ostrovaru.com

              .charity_footer: p.fadeMeUp: a(href='info.html') Раскрытие информации

          .join_section
            .section_inner
              h3.join_title.fadeMeUp
                span Начните инвестировать сейчас<br>
                span.fw_b вместе с QBF

            .join_mountain
              .join_logo.fadeMeUp
                img(src='i/logo3.png')
              img(src='i/mountain.png')

              .section_inner
                +callback_holder(true)

          .contact_section
            .section_inner
              h3.contact_title.fadeMeUp Контакты

              ul.office_switcher.fadeMeUp
                li: label.check_v2
                  input.inp_hidden.officeSwitch(type='radio' name='office' checked value=0)
                  span.check_text: span Санкт-Петербург
                li: label.check_v2
                  input.inp_hidden.officeSwitch(type='radio' name='office' value=1)
                  span.check_text: span Москва
                li: label.check_v2
                  input.inp_hidden.officeSwitch(type='radio' name='office' value=2)
                  span.check_text: span Екатеринбург
                li: label.check_v2
                  input.inp_hidden.officeSwitch(type='radio' name='office' value=3)
                  span.check_text: span Калининград
                li: label.check_v2
                  input.inp_hidden.officeSwitch(type='radio' name='office' value=4)
                  span.check_text: span Тюмень

          .map_holder
            #qbf_map.map_block

            .section_inner
              .map_info.fadeMeUp
                .office_address.officeAddr
                  p 195112, г.Санкт-Петербург<br>Малоохтинский проспект, д. 64,<br>литера Б<br>БЦ «Санкт-Петербург Плаза»
                  ul.map_contacts
                    li: span +7 (812) 407-21-12
                    <br>
                    li: a.map_link(href='mailto:region@qbfin.ru') region@qbfin.ru

                .office_address.officeAddr(style='display:none')
                  p 123317, Москва Пресненская набережная, д. 8, стр.1 ММДЦ «Москва-Сити»

                  ul.map_contacts
                    li: span +7 (495) 988 98 21
                    <br>
                    li: a.map_link(href='mailto:invest@qbfin.ru') invest@qbfin.ru

                .office_address.officeAddr(style='display:none')
                  p 620014, Екатеринбург ул. Бориса Ельцина, 1а БЦ «Президент»

                  ul.map_contacts
                    li: span +7 (343) 312 22 00
                    <br>
                    li: a.map_link(href='mailto:invest.ekb@qbfin.ru') invest.ekb@qbfin.ru

                .office_address.officeAddr(style='display:none')
                  p 236001, Калининград, бизнес-центр «Морской» Театральная улица, 35, этаж 8
                  ul.map_contacts
                    li: span +7 (4012) 720 317
                    <br>
                    li: a.map_link(href='mailto:region@qbfin.ru') region@qbfin.ru

                .office_address.officeAddr(style='display:none')
                  p 625048, Тюмень ул. Максима Горького, д.74 БЦ «Демидов стан»
                  ul.map_contacts
                    li: span +7 (3452) 662 502
                    <br>
                    li: a.map_link(href='mailto:region@qbfin.ru') region@qbfin.ru

          .follow_section
            .section_inner
              h3.follow_title.fadeMeUp
                span Следите за нами в социальных сетях
                span.fw_b  #qbf
                span.fw_b  #qbfregion

              ul.widget_holder
                li
                  .widget_box
                    <!-- InstaWidget -->
                    <a href="https://instawidget.net/v/user/qbf_region" id="link-061c185d90ddbfcc920418192b9ac4f110a9e84f1a93d1ef0d7f8d9dcbc76a45">@qbf_region</a>
                    <script src="https://instawidget.net/js/instawidget.js?u=061c185d90ddbfcc920418192b9ac4f110a9e84f1a93d1ef0d7f8d9dcbc76a45&width=600px"></script>

                    //-img(src='i/insta.jpg')
                    .widget_footer
                      <a href="https://www.instagram.com/explore/tags/qbf/?hl=en"><img src="i/in.png" alt="Instagram logo"/></a>

                li
                  .widget_box
                    <a class="twitter-timeline" href="https://twitter.com/qb_finance" data-chrome="nofooter noheader noborders transparent noscrollbar" data-tweet-limit="1">Tweets by qb_finance</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8" ></script>
                    //-img(src='i/twit.jpg')
                    .widget_footer
                      <a href="https://twitter.com/qb_finance"><img src="i/tw.png" alt="Twitter logo"/></a>

                li
                  .widget_box
                    a(href='https://www.youtube.com/channel/UCGqnTlLHBoXsQGmqEkRI4PQ'): img(src='i/yt.png')

      .footer
        .section_inner.clearfix
          .footer_contacts.fadeMeUp
            .lang_block
              img(src='i/flag.png')

            p
              a.info_link(href='info.html') Раскрытие информации

            p
              a.info_link.fw_bl(href='http://qbfin.ru') qbfin.ru

            p.copyright © ООО ИК «КьюБиЭф» 2017.

            a.footer_logo(href='index.html')
              img(src='svg/logo.svg')

          .footer_info.fadeMeUp
            p Целевая доходность является ориентировочной, определена в рамках инвестиционного горизонта на основании ожиданий ООО ИК "КьюБиЭф" по получению потенциального дохода от совершения определенных операций с отдельными видами финансовых инструментов.

            p ООО ИК «КьюБиЭф» (ОГРН 5087746335551, ИНН 7733673955). Лицензия на осуществление брокерской деятельности № 045-12805-100000 выдана ФСФР России 24 декабря 2009 года без ограничения срока действия, лицензия на осуществление дилерской деятельности № 045-12816-010000 выдана ФСФР России 24 декабря 2009 года без ограничения срока действия лицензия на осуществление деятельности по управлению ценными бумагами № 045-12828-001000 выдана ФСФР России 24 декабря 2009 года без ограничения срока действия.

            p Все материалы представлены на настоящем веб-сайте исключительно в информационных целях, без учета инвестиционных целей, и/или финансового положения или средств конкретных лиц.

            p Совершение операций на рынке ценных бумаг, торговля на валютном рынке и на рынке производных финансовых инструментов сопряжены со значительными рисками. <br>Перед принятием инвестиционного решения, или совершением сделки, инвестору необходимо тщательно взвесить свое финансовое положение и проконсультироваться со своим финансовым советником (советниками), чтобы получить полное представление о возможных рисках.

            p ООО ИК Кьюбиэф РФ № 045-12828-001000

            .footer_attention
              .fl Не является публичной офертой

              .dev_block
                span Разработка сайта —&nbsp;
                a.dev_link(href='http://goga.spb.ru/new/') goga.spb.ru

      +flow()

    +popup()

  +scripts(true)
