@font-face {
  font-family: 'qbf_icons';
  src:  url('fonts/qbf_icons.eot?8r0xk1');
  src:  url('fonts/qbf_icons.eot?8r0xk1#iefix') format('embedded-opentype'),
    url('fonts/qbf_icons.ttf?8r0xk1') format('truetype'),
    url('fonts/qbf_icons.woff?8r0xk1') format('woff'),
    url('fonts/qbf_icons.svg?8r0xk1#qbf_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'qbf_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-chevron-down:before {
  content: "\e900";
}
.i-chevron-up:before {
  content: "\e902";
}
.i-check:before {
  content: "\e901";
}
.i-phone:before {
  content: "\e942";
}
