$icomoon-font-path: "fonts" !default;

$i-info: "\e903";
$i-chevron-thin-right: "\e904";
$i-chevron-thin-left: "\e905";
$i-chevron-down: "\e900";
$i-chevron-up: "\e902";
$i-check: "\e901";
$i-close: "\e90e";
$i-phone: "\e942";

